<!-- Container de Login -->
<div class="login-container">
    <div class="login-box">
        <h2 class="login-title">Connexion</h2>
        <form method="post">
            <div class="form-group">
                <label class="form-label" for="ident">Identifiant</label>
                <input class="form-input" type="text" name="ident" id="ident" placeholder="Saissez votre identifiant">
            </div>
            <div class="form-group">
                <label class="form-label" for="password">Mot de pass</label>
                <input class="form-input" type="password" name="password" id="password" placeholder="Saissez votre mot de pass">
            </div>
            <button class="login-button" type="submit">Valider</button>
            <div class="forgot-password">
                <a href="#">Première connexion</a><span>&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="#">Mot de pass oublier</a>
            </div>
        </form>
    </div>
</div>
